quickplot-*

# The remainder of this file mimics ./Repo_clean; please keep them in
# sync.

/.deps/
/.libs/
/conftest.dir/
/autom4te.cache/
/m4/

*.o
*.la
*.so
*.lo
*.tmp

aclocal.m4
config.cache
config.h
install-sh
config.log
Makefile
Makefile.in
missing
mkinstalldirs
ltmain.sh
config.sub
config.guess
configure
configure.scan
autoscan-*x.log
INSTALL
libtool
config.status
autoscan.log
depcomp
confdefs.h
last_release

config.h*
stamp-h*
compile
quickplot
quickplot_shell
*.xpm
*.txt
REPO_VERSION
RELEASE_DATE
paths.h
*.html
*.fin
*.part
_ScreenShot_*_thumb.png
_ScreenShot_*_thumb-*.png
config.h.in
config.h
mk_options
quickplot.pc
*.head
*.tail
quickplot.1
quickplot_shell.1

parse_args.h
app_op_declare.h
app_op_init.h
